{% extends '::base.html.twig' %}

{% block body %}
{% for error in errores %}
    {% if error != "" %}
    <strong>{{ error }}</strong>
    <br/>
    {% endif %}
{% endfor %}

<br/>
<form action="{{ path('registro') }}" method="post" {{ form_enctype(form) }} 
  id="registroForm" onsubmit="return validateForm()">
    {{ form_errors(form) }}

<div>
     Nombre de Usuario <br/>
     {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}
</div>    
<br/>

<div>
     Nombre p&uacute;blico <br/>
     {{ form_widget(form.nickname) }}
    {{ form_errors(form.nickname) }}
</div>    
<br/>
    
<div>
     {{ form_label(form.email) }} <br/>
     {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
</div>    
<br/>


<div>
     Contrase&ntilde;a <br/>
     {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}
</div>    
<br/>

<div>
     Repite la contrase&ntilde;a <br/>
     {{ form_widget(form.passwordco) }}
    {{ form_errors(form.passwordco) }}
</div>    
<br/>

    {{ form_rest(form) }}

    <input type="submit" />
</form>

{% endblock %}